@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OCRAbyBT";
  src: url("/fonts/OCRAbyBT.otf");
}

body {
  -webkit-font-smoothing: antialiased;
  @apply text-zinc-50;
}
