---
import { Image } from "astro:assets";
import ManoelLopesAvatar from "@/images/manoel_lopes.jpg";
---

<section
  class="flex flex-col lg:flex-row justify-between mt-10 gap-6 md:gap-2 items-center"
>
  <div class="flex flex-col gap-4 items-center md:items-start">
    <h1 class="font-ocra text-2xl text-green-700">
      <span class="text-zinc-300">{"<"}</span>About Manoel<span
        class="text-zinc-300">{" />"}</span
      >
    </h1>

    <p
      class="max-w-[700px] text-justify leading-7 indent-10 tracking-wide lg:ml-10"
    >
      I'm a Full Stack Software Engineer, with proficiency in backend
      technologies like Node.js and Python, as well as frontend tools like
      React.js, Astro, and Next.js. I excel in CSS3 styling and utilize modern
      frameworks like Tailwind CSS. My database expertise includes PostgreSQL,
      MongoDB, and MariaDB, with proficiency in ORMs like Prisma and SQLAlchemy.
      I've worked with frameworks like FastAPI and Express. My Agile
      Methodologies background complements my strong QA skills, covering manual
      and automated testing with Selenium, Cypress, and Playwright. On a
      personal note, I'm an Inline Hockey enthusiast 🏒 and a devoted fan of
      Harry Potter ⚡ and Lord of the Rings 🌄.
    </p>
  </div>
  <div
    class="flex flex-col items-center mt-2 justify-center rounded-full h-80 w-80 shadow-xl shadow-cyan-500/50"
  >
    <Image
      src={ManoelLopesAvatar}
      alt="Manoel Lopes, Preparing his hockey stick for a game!"
      class={"rounded-full h-80 w-80 ring-4 ring-cyan-500 object-cover"}
    />
  </div>
</section>
