---
const year = new Date().getFullYear();
---

<footer
  class="flex items-center flx row p-4 border-t-2 border-dashed border-zinc-500 mt-10 h-24"
>
  <div class="mx-auto items-center justify-center">
    <h1 class="font-courier text-lg">All rights reserved &copy; {year}</h1>
  </div>
</footer>
