---
// import Logo from "./Logo";
---

<header
  class="font-ocra text-lg font-semibold text-zinc-50 border-b-8 border-lime-700 sticky top-0 left-0 overflow-hidden bg-zinc-950"
>
  <div
    class="flex flex-row max-w-[1200px] h-28 mx-auto justify-between items-center"
  >
    <div>
      <!-- <Logo /> -->
      <h1 class="text-4xl font-bold">
        MANOEL LOPES<span class="animate-ping-fast">_</span>
      </h1>
    </div>
    <nav class="">
      <div>
        <ul class="flex gap-4 text-lg">
          <li class="hover:text-red-600 transition-colors duration-300">
            <a href="/">Home</a>
          </li>
          <li class="hover:text-green-600 transition-colors duration-300">
            <a href="">About</a>
          </li>
          <li class="hover:text-blue-600 transition-colors duration-300">
            <a href="">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
